@charset "UTF-8";
div {
	display: flex;
	
}
input {
	flex:1;
}
textarea {
	display: block;
	resize: none;
	width: 100%;
}

input, textarea {
	padding: 5px 8px;
}

button {
	padding: 8px 10px;
	margin: 2px 5px;
}
button:hover {
	cursor: pointer;
}
.btns {
	padding-top: 20px;
	justify-content: flex-end;
}