@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	padding: 2rem;
	background-color: rgb(39, 174, 96);
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

nav {
	background-color: #444;
	color: white;
}

nav ul {
	display: flex;
	list-style: none;
}

nav a {
	display: inline-block;
	padding: 12px 16px;
	text-decoration: none;
	/* a tag를 감싸고 있는 누군가의 color를 상속 */
	color: inherit;
}

nav a:hover {
	background-color: #eee;
	color: rgb(39, 174, 96);
	font-weight: bold;
}

section {
	flex: 1;
	width: 95%;
	border: 1px solid green;
	margin: 0 auto;
	display: flex;
	align-items: center;
	display: flex;
}

footer {
	background-color: #6c6e6b;
	color: white;
	text-align: center;
	padding: 0.8rem;
}